* {
    margin: 0;
    padding: 0;
}

#contact{
    position: relative;
    bottom: 150px;
}
#navbarm {
    margin-left: 150px;
    
}

@media (max-width:750px)
{
    header{
       
        height: 300px;
    }
    .photo{
        height: 300px;
    }
    
}

#navbarm li a {
    color: rgb(0, 128, 0);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#navbarm li a:hover{
color: orange;
}
#icone i {
    margin: 5px;
    color: white;
}

.bg-dark{
    background-color: white !important;
    border-bottom: 2px solid orange;
    height: 100px;
    
}


.partie {
    
    background-image: linear-gradient(rgba(114, 171, 194, 0.521), rgba(107, 167, 190, 0.753)), url(../image/images.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
   


}




.partie2 {
    margin-top: 100px;

    height: 400px;
    margin-bottom: 100px;

}

.box {
    position: absolute;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 35%;
}

.social {
    width: 80px;
    height: 80px;
    background-color: orange;
    border-radius: 50%;
    text-align: center;
    float: left;
    margin: 0 25px;
    margin-top: 500px;
}

.social i {
    font-size: 50px;
    line-height: 80px;
}

.social:hover {
    animation: animate 2s linear infinite;   }


#row {
    background-image:  url(../image/stade-65539fd7920d1.jpg );
    background-repeat: no-repeat;
margin-top: 150px;
    border-radius: 10px;
    position: relative;
    top: 80px;
    z-index: 1;

}

#haut #contact h1 {
    font-size: 50px;

}

#vert {
position: relative;
    background-color: #035203;
    height: 200px;
    z-index: 0;

    

}


.img3,
.img1,
.img2 {
    opacity: 0.4;
}

.img3:hover {
    opacity: 1;
}

.img1:hover {
    opacity: 1;
}

.img2:hover {
    opacity: 1;
}

footer {
    width: 100%;
    background-color: rgb(187, 126, 12);
    height: 70px;


}

#foo {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: white;
}

#lien {
    width: 50%;
    margin: auto;
    padding-top: 100px;

}

footer p,
p {
    padding: 20px;
    font-size: 18px;
}