*{
    margin: 0;
    padding: 0;
}
#navbarm{
    margin-left: 200px;
    }
    #navbarm li a{
        color: rgb(0, 128, 0);
        margin: 15px;
    }
    #icone i{
        margin: 5px;
        color: white;
    }
    .bg-dark{
        background-color: white !important;
        border-bottom: 2px solid orange;
        height: 100px;
    }
     header{
        height: 700px;
     }
   .photo{
    height: 650px;
    width: 100%;
   }

   @media (max-width:750px)
{
    header{
       
        height: 300px;
        
    }
    .photo{
        height: 300px;

    }
   #meta{
    
  top:-300px;
   }
   #meta .boutton{
    top: -150px;
   }
    
}
#meta{
    
    color: white;
    width: 100%;
    position: relative;
    bottom: 400px;
    font-size: 100px;
}

#meta h1,h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.conteneur2{
    width: 100%;
    
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}





.partie{

    height: 700px;
    
}
#par{
    width: 60%;
    padding:200px 100px 100px 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.match{
    width: 30%;
    margin: auto;
    padding-top: 100px;
}


.conteneur5{
    background-image: url(../image/stade-65539fd7920d1.jpg);
    height: 250px; background-size: cover;
    margin-top: 100px;
}
.conteneur4{

    height: 500px;
    margin-top: 100px;
    background-size: cover;
    background-image: linear-gradient(#f1a10c6c,rgba(255, 169, 10, 0.644)),
    url(../image/stade-65539fd7920d1.jpg);

}



#vert{
    
    background-color: #035203;
    height: 300px;
} 


#row {
    background-image:  url(../image/stade-65539fd7920d1.jpg );
    background-repeat: no-repeat;
margin-top:50px;
    border-radius: 10px;
    position: relative;
    top: 80px;
    z-index: 1;

}
.img3,.img1,.img2{
    opacity: 0.4;
}
.img3:hover{
    opacity: 1;
}
.img1:hover{
    opacity: 1;
}
.img2:hover{
    opacity: 1;
}

footer{
    width: 100%;
    background-color: rgb(187, 126, 12);height: 70px;
   
    
}
#foo{
    width: 90%;
    margin: auto;
    display: flex; justify-content: space-between;
    color: white;
}

#lien{
    width: 60%;
    margin:auto;
    padding-top: 150px;
}
footer p,p{
    padding: 20px;
    font-size: 18px;
}