*{
    margin: 0;
    padding: 0;
}
#navbarm{
    margin-left: 200px;
    }
    #navbarm li a{
        color: rgb(0, 128, 0);
        margin: 15px;
    }
    #icone i{
        margin: 5px;
        color: white;
    }
    
.bg{
    position: relative;
    bottom: 150px;
}
 
    .bg-dark{
        background-color: white !important;
        border-bottom: 2px solid orange;
        height: 100px;
    }
       

    @media (max-width:750px)
{
    header{
       
        height: 350px;
    }
    .photo{
        height: 300px;
    }
    
}


    #row {
        background-image:  url(../image/stade-65539fd7920d1.jpg );
        background-repeat: no-repeat;
    margin-top: 150px;
        border-radius: 10px;
        bottom: 100px;
        position: relative;
        top: 80px;
        z-index: 1;
    
    
    }
    #bien{
text-decoration: none;
    }

    #vert{
    
        background-color: #035203;
        height: 300px;
        position: relative;
        z-index: 0;
    } 
    
    .img0,.img1,.img2{
        opacity: 0.4;
    }
    .img0:hover{
        opacity: 1;
    }
    .img1:hover{
        opacity: 1;
    }
    .img2:hover{
        opacity: 1;
    }
    
    footer{
        width: 100%;
        background-color: rgb(187, 126, 12);height: 70px;
       
        
    }
    #foo{
        width: 90%;
        margin: auto;
        display: flex; justify-content: space-between;
        color: white;
    }
    
    #lien{
        width: 60%;
        margin:auto;
        padding-top: 150px;
    }
    footer p,p{
        padding: 20px;
        font-size: 18px;
    }